<head>
    <link rel="shortcut icon" href="./images/loading_logo.png">
</head>

<header class="page-label">
    <h1>Home</h1>
</header>
<div class="page-content">
    <h3>
        Welcome to the official webpage of Sirrianus Dagovax!
        Choose your game info or modfolder by hitting it in the menu. All my own mods of Rome: Total War are placed there. I hope you will learn more about modding or my mods. For more info, please contact me.
        <br><br><br>
        Holland: Total War is now finished!
    </h3>
    <br><br>
    <h1>Dagovax</h1>
    <div class="gravatar">
        <img src="./images/gravatar.png">
    </div>
    <br><br>

</div>