<script>
    document.onkeydown = fkey;
    document.onkeypress = fkey
    document.onkeyup = fkey;

    var wasPressed = false;

    function fkey(e) {
        e = e || window.event;
        if (wasPressed) return;

        if (e.keyCode == 116) {
            window.location.href = "./index.html";
            wasPressed = true;
        }
    }
</script>
<header class="page-label">
    <h1>Holland: Total War</h1>
</header>
<div class="page-content">
    <h3>
        Holland: Total War is a conversion mod for Rome: Total War, and is based upon the Netherlands.<br><br>
        The mod is unhistorical, but it is totally based upon the Netherlands. This mod includes a total rework of map, unit and faction editing.<br><br>
        The playable factions are the Dutch provinces and factions arround the Netherlands (like France, British and some German provinces).
        The mod is free to play and the owner is still working on updates for the mod.
        <br><br><br>
    </h3>
    <h3>
        <strong>Holland: Total War 3.0 has been released:</strong><br><br>
        <ul class="list-items">
            <li>Added new (super) units for some factions (building required)</li>
            <li>Added new buildings for both campaign and battle map</li>
            <li>Changed strat map (added regions in the south and changed UK)</li>
            <li>Replaced some music</li>
            <li>Moved France to the south to decrease unhistorical things.</li>
            <li>+ more</li>
        </ul>
        <br><br>
    </h3>
    <div class="middle-page-content">
            <h3>
            Watch below the intro of Holland: Total War;
        </h3>
        <br>
        <iframe width="300" height="250"
                src="https://www.youtube.com/embed/3ggmcmRFpcQ" allowfullscreen>
        </iframe>
        <br><br>
        <h3>
            <strong>Download Holland: Total War 3.1<br>
                <a title="Download Holland: Total War v3.1 - Mod DB" href="http://www.moddb.com/mods/holland-total-war/downloads/holland-total-war-v31" target="_blank" rel="noopener">
                    <img class=" aligncenter" src="http://button.moddb.com/download/medium/135053.png" alt="Holland: Total War v3.1" />
                </a>
            </strong>
        </h3>
    </div>
</div>