
<header class="page-label">
    <h1>Israel Modfolder</h1>
</header>
<div class="page-content">
    <h3>
        Welcome to this page. This page contains the link to the israel mod designed by me. Remember you download the patches in order, because only then the mod is working correctly.<br>
        The first download option will redirect you to mediafire. The second (mirror) will redirect you to rtw heaven. Download the mods by clicking the links below:
        <br><br>
        <strong class="title-strong">Israel Modfolder (patch 1.0)</strong><br>
        <strong>
            <span style="color:#0000ff;">
                <a style="color:#0000ff;" href="http://www.mediafire.com/download/ktcxw8frv69si5n/israel_0001.zip" target="_blank">DOWNLOAD</a>      
            </span>
        </strong>
        <br><br>
    </h3>
    <h3>
        This is the first patch you have to download before downloading the others.<br>
        After downloading you can follow the instructions in the README.txt file.
        <br><br><br>
    </h3>
    <h3>
        <strong class="title-strong">Patch 1.1</strong><br>
        <strong>
            <span style="color:#0000ff;">
                <a style="color:#0000ff;" href="http://www.mediafire.com/download/ktcxw8frv69si5n/israel_0001.zip" target="_blank">DOWNLOAD</a>      
            </span>
        </strong><br><br>
        <strong class="title-strong">Patch 1.2</strong><br>
        <strong>
            <span style="color:#0000ff;">
                <a style="color:#0000ff;" href="http://www.mediafire.com/download/i7zq5er2exwdmwq/israelmod+v1.2.zip" target="_blank">DOWNLOAD</a>      
            </span>
        </strong><br><br>
        <strong class="title-strong">Patch 2.0</strong><br>
        <strong>
            <span style="color:#0000ff;">
                <a style="color:#0000ff;" href="http://www.mediafire.com/download/aaaj0habjx3mg3x/israelv2.0.zip" target="_blank">DOWNLOAD</a>      
            </span>
        </strong><br><br>
    </h3>
    <h3>
        Watch below some screenshots of version 2.0!<br><br><br>
    </h3>
    <div>
        <div class="gravatar">
            <img src="./images/chariotsnew.jpg">
        </div><br>
        <div class="gravatar">
            <img src="./images/jerusalem.jpg">
        </div><br>
        <div class="gravatar">
            <img src="./images/kingarchers.jpg">
        </div><br>
        <div class="gravatar">
            <img src="./images/kingpikeman.jpg">
        </div><br>
    </div>
</div>

<script>
    document.onkeydown = fkey;
    document.onkeypress = fkey
    document.onkeyup = fkey;

    var wasPressed = false;

    function fkey(e) {
        e = e || window.event;
        if (wasPressed) return;

        if (e.keyCode == 116) {
            window.location.href = "./index.html";
            wasPressed = true;
        }
    }
</script>

<script>
    var event = new CustomEvent('configWidget', {'detail': {text:"Welcome to the page containing the Israel mod", color:"blue", button: false, htmlCode: null}});
    window.dispatchEvent(event);
</script>