<script>
    document.onkeydown = fkey;
    document.onkeypress = fkey
    document.onkeyup = fkey;

    var wasPressed = false;

    function fkey(e) {
        e = e || window.event;
        if (wasPressed) return;

        if (e.keyCode == 116) {
            window.location.href = "./index.html";
            wasPressed = true;
        }
    }
</script>
<header class="page-label">
    <h1>Contact</h1>
</header>
<div class="page-content">
    <h3>
        On this page you can find information about how to contact me, and find links to my pages.
    </h3>
    <br><br>
    <h3><strong class="title-strong">E-mail</strong><br></h3>
    <h3>dagovax@gmail.com</h3>
    <br><br>
    <h3><strong class="title-strong">Facebook</strong><br></h3>
    <h3><a href="https://www.facebook.com/sirrianus.dagovax" target="_blank">https://www.facebook.com/sirrianus.dagovax</a></h3>
    <br><br>
    <h3><strong class="title-strong">Youtube</strong><br></h3>
    <h3><a href="https://www.youtube.com/channel/UC99sseLw-MBvN9sGXQOj_BQ" target="_blank">https://www.youtube.com/channel/UC99sseLw-MBvN9sGXQOj_BQ</a></h3>
    <br><br>
</div>